<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe8IVXpFcA7lUVeDzEX4lVW3ZdZKwTEXc</string>
	<key>GCM_SENDER_ID</key>
	<string>633788654354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plant</string>
	<key>PROJECT_ID</key>
	<string>plant-web-a8165</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-web-a8165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633788654354:ios:4a4e9749ccaa6a7e6b89cb</string>
</dict>
</plist>